streamlit
pandas
numpy
datetime
langchain
langchain-google-genai
faiss-cpu
huggingface-hub
transformers
torch
google-api-python-client
tqdm
sentence-transformers
langchain_community
scikit-learn
google-generativeai==0.3.2
langchain_core
